intermiediate1-3.webp filter=lfs diff=lfs merge=lfs -text
intermiediate1-5.webp filter=lfs diff=lfs merge=lfs -text
intermiediate1-7.webp filter=lfs diff=lfs merge=lfs -text
intermiediate1-8.webp filter=lfs diff=lfs merge=lfs -text
intermiediate1-2.webp filter=lfs diff=lfs merge=lfs -text
intermiediate1-1.webp filter=lfs diff=lfs merge=lfs -text
intermiediate1-10.webp filter=lfs diff=lfs merge=lfs -text
intermiediate1-4.webp filter=lfs diff=lfs merge=lfs -text
intermiediate1-6.webp filter=lfs diff=lfs merge=lfs -text
intermiediate1-9.webp filter=lfs diff=lfs merge=lfs -text
option1.webp filter=lfs diff=lfs merge=lfs -text
answer1.webp filter=lfs diff=lfs merge=lfs -text
